# the build
build
TermKit.app

# temp nibs and swap files
*~.nib
*.swp

# OS X folder attributes
.DS_Store

# user-specific XCode stuff
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

node_modules
src/public/components
/src/public/external/jquery-ui/css/ui-darkness/images/ui-bg_flat_30_cccccc_40x100.png
/src/public/external/jquery-ui/development-bundle/demos/selectable/index.html